/* Formulario de captura */
body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.contactForm {
    width: 270px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#botaoF {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#botaoF:hover {
    background-color: #45a049;
}

.secaoF{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contactForm{
    margin-top: 50px;
    margin-bottom: 50px;
    
}