.olhos2 {
    position: relative;
    text-align: center;
}

.olhos2-img{
width: 100%;
height: 300px;
}

.titulo-no-rosto{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 45px;
    color: #6d6866;
}





@media (max-width: 429px) {
    .olhos2-img{
        height: 200px;
    }

    
}


